.title {
    font: var(--font-heading); 
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.list {
    margin-top: 3rem;
}